body {
  font-family: Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;

  background-color: rgb(239, 255, 239);
}

.container {
  width: 100%;
}

.container > h2 {
  padding-left: 8px;
  font-size: 30px;
}

.link-list {
  list-style: disc;
  font-size: 18px;
  padding: 8px 0px;
}

.large-item > li {
  list-style-type: none;
  padding-bottom: 32px;
}

.large-item li h2 {
  text-decoration: underline;
  font-weight: normal;
}

.small-item {
  padding: 0;
}

.small-item > li {
  list-style-type: none;
  padding-bottom: 16px;
}

.small-item li h3 {
  font-weight: bold;
  margin: 0 0 8px;
}

.small-item > li {
  margin: 0 0 16px;
}

.small-item li p {
  margin: 0;
}

.explanation-content {
  padding-left: 25px;
}

.example-code {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  width: 800px;

  background-color: white;
}

pre {
  margin: 0;
}

code {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}

header {
  text-align: center;
  padding: 32px 0px;

  background: rgb(0, 87, 0);
  color: #ffffff;
}

header > h1 {
  margin: 0;
}

header > p {
  margin: 0;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0px;

  background: #aaaaaa;
  bottom: 0;
}
